.overflowhidden-body{
    position: fixed;
    height: 100vh;    
    overflow: hidden;
}
.related-product.grid-products .item .product-image {
    height: 300px;
}
.login-register-icon {
    display: inline-block;    
}


#dropdownUserMenuButton {
    font-size: 18px;
    border: none;
    vertical-align: middle;
}
.login-register-icon img {
    width: 20px;
}
.login-register-icon .dropdown-menu span {
    cursor: pointer;
}
.login-register-icon .dropdown-toggle::after {
    vertical-align: middle;
}
/* Login - Register Modal */
#login_register_link,
#forget_password_link {
    cursor: pointer;
}
.login-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.login-modal-container {
    z-index: 999;
    display: flex;
    position: relative;
    background: #fff;
    width: 40%;
    justify-content: center;
    margin: auto;
    padding: 3em;
    margin-top: 5em;
}

.footer-links .login-logout-links span {
    cursor: pointer;
}

.remove-product-wishlist  span{
    padding: 0.5em;
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .login-modal-container {
        width: 60%;
        padding: 2em;
    }
}
@media only screen and (max-width: 768px) {
    .login-modal-container {
        width: 96%;
        padding: 1em;
    }
}